/* PokeCard */
.poke-card-modern {
    position: relative;
    width: 100%;
    max-width: 280px;
    background: rgba(30, 30, 35, 0.8);
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poke-card-modern:hover { transform: translateY(-5px); background: rgba(40, 40, 45, 1); }
.card-header { width: 100%; display: flex; justify-content: space-between; margin-bottom: 10px; }
.card-id { color: #888; font-weight: bold; }
.card-types { display: flex; gap: 5px; }
.mini-type-dot { width: 8px; height: 8px; border-radius: 50%; }
.card-image-container { position: relative; width: 120px; height: 120px; margin-bottom: 10px; display: flex; justify-content: center; }
.card-img { width: 100%; height: 100%; object-fit: contain; z-index: 2; }
.img-aura { position: absolute; width: 80%; height: 80%; background: var(--card-color); filter: blur(30px); opacity: 0.4; border-radius: 50%; }
.card-info {
    text-align: center;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Espace entre le nom et les types */
}
.card-name {
    color: white;
    margin: 0;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 800;
}
.card-main-type { font-size: 0.7rem; font-weight: bold; text-transform: uppercase; color: #aaa; }

.types-badges-row {
    display: flex;
    gap: 8px; /* Espace horizontal entre les deux badges */
    justify-content: center;
}

/* Style individuel de chaque badge */
.type-badge {
    background-color: var(--type-bg);
    color: white;
    font-size: 0.65rem;
    font-weight: 800;
    text-transform: uppercase;
    padding: 4px 12px;
    border-radius: 20px;
    letter-spacing: 0.5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.2s;
}

.type-badge:hover {
    transform: translateY(-2px); /* Petit effet au survol */
}

/* Stat Pokemon */

.card-stats-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    column-gap: 10px;
    row-gap: 10px;
    background: rgba(0, 0, 0, 0.4);
    padding: 12px;
    border-radius: 12px;
    margin-top: auto;
}

.stat-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100px;
}

/* PokeCard Stat Row */
.stat-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.stat-label {
    font-size: 0.65rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
}

.stat-value {
    font-size: 0.8rem;
    font-weight: 800;
    color: white;
}

.stat-bar-container {
    width: 100%;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    overflow: hidden;
}

/* Barre */
.stat-bar-fill {
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px currentColor;
    transition: width 0.3s ease;
}